/* Flex Container => Parent */
ul {
	background-color: lightslategray;
	padding: 20px;
	
	/* Flex Container Properties */
	/* display: flex; */

	/**-**-**-**-**-**-*--------Flex Direccion-------*-**-**-**-**-**-**-**/
	
	/* 1.1 */
	/* Row (Default) */
	/* flex-direction: row-reverse; */
	
	/* Column */
	flex-direction: column-reverse;


}

 /* flex Items => childre */
li {
	/* display: inline-block; */
	list-style: none;
	color: white;
	background-color: #20b2aa;
	padding: 10px;
	margin: 20px;
	width: 100px;
	font-size: 20px;
	text-align: center;
}