body {
	background-color: #000;
}

.grid-container {
	background-color: #ff7052;

	display: grid;
	height: 700px;

	grid-template-columns: repeat(4, 150px);
	grid-template-rows: repeat(2, 150px);

	/* grid-gap: 25px; */

	/* +++++++++++++++++++++++++ Justify Items Property +++++++++++++++++++++++++ */
	/* Property Values can be: 
						stretch (default) */
	/* justify-items: stretch; */
	/* justify-items: start; */
	/* justify-items: end; */
	/* justify-items: center; */

	/* +++++++++++++++++++++++++ Align Items Property +++++++++++++++++++++++++ */
	/* align-items: stretch; */
	/* align-items: start; */
	/* align-items: end; */
	/* align-items: center; */

	/* +++++++++++++++++++++++++ Place Items Property +++++++++++++++++++++++++ */
	/* place-items: start end; */
	/* place-items: start center; */
	/* place-items: center; */
	/* place-items: center start; */
	/* place-items: center end; */
	/* place-items: end start; */
	/* place-items: end center; */
	/* place-items: end; */

	/* +++++++++++++++++++++++ Justify Content Property +++++++++++++++++++++++ */

	/* Property Values can be 
					start | end | center | stretch(default) | space-sround | space-between | space-evenly 		
	*/

	/* justify-content: stretch; */
	/* justify-content: start; */
	/* justify-content: end; */
	/* justify-content: center; */
	/* justify-content: space-around; */
	/* justify-content: space-between; */
	/* justify-content: space-evenly; */

	/* +++++++++++++++++++++++ Align Content Property +++++++++++++++++++++++ */

	/* Property Values can be 
					start | end | center | stretch(default) | space-sround | space-between | space-evenly 		
	*/
	
	/* align-content: stretch; */
	/* align-content: start; */
	/* align-content: end; */
	/* align-content: center; */
	/* align-content: space-around */
	/* align-content: space-between; */
	/* align-content: space-evenly; */

	/* +++++++++++++++++++++++ Place Content Property +++++++++++++++++++++++ */

	/* Property Values can be 
					start | end | center | stretch(default) | space-sround | space-between | space-evenly 		
	*/
	
	/* place-content: stretch; */
	/* place-content: start; */
	/* place-content: start center; */
	/* place-content: start end; */
	/* place-content: end; */
	/* place-content: center; */
	/* place-content: space-around */
	/* place-content: space-between; */
	/* place-content: space-evenly; */

						 
}

.item {
	font-size: 30px;
	text-align: center;
	/* line-height: 15px; */
	font-family: 150px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 3px;
}


.item-1 {
	background-color: chartreuse;
}
.item-2 {
	background-color: chocolate;
}
.item-3 {
	background-color: cornflowerblue;
}
.item-4 {
	background-color: olivedrab;
}
.item-5 {
	background-color: darkorchid;
}
.item-6 {
	background-color: darkseagreen;
}
.item-7 {
	background-color: dimgray;
}
.item-8 {
	background-color: lightgoldenrodyellow;	
}