body {
	background-color: #000;
	color: dark;
}

.grid-container {
	background-color: #12535d;
	display: grid;
	/* grid-gap: 25px; */
	/* height: 100vh; */
	
	/* grid-template-columns: repeat(4, 150px); */
	/* grid-template-columns: 1fr 1fr max-content 1fr; */
	/* grid-template-columns: 1fr 1fr 1fr 1fr; */
	/* grid-template-columns: 1fr 1fr min-content 1fr; */
	
	/* grid-template-rows: repeat(4, 150px); */
	/* grid-template-rows: repeat(4, min-content); */
	/* grid-template-rows: repeat(2, max-content); */
	/* grid-template-rows: repeat(2, minmax(100px, 300px)); */
	width: 88%;
	grid-template-rows: repeat(2, minmax(100px, min-content));
	grid-template-columns: minmax(250px, 2fr) repeat(3, 1fr);
}

.item {
	font-size: 30px;
	text-align: center;
	letter-spacing: 3px;
	/* line-height: 80px; */
	font-weight: 700;
	text-shadow: 0 0 10px orangered;
	
}

.item-1 {
	background-color: chartreuse;
}
.item-2 {
	background-color: chocolate;
}
.item-3 {
	background-color: cornflowerblue;
}
.item-4 {
	background-color: olivedrab;
}
.item-5 { 
	background-color: darkorchid;
}
.item-6 {
	background-color: darkseagreen;
}
.item-7 {
	background-color: dimgray;
}
.item-8 {
	background-color: lightgoldenrodyellow;
}