/* The Grip Container */


body {
	background-color: #000;
}

.grid-container {
	
	/* initiating a grid layout */
	display: grid;
	background-color: #ff7052;
	/* justify-content: center; */
	
	/* -**-**-**-** Grid Template Rows Property 	*-**-**-**-* 
	<track-size> (lenghts, percentages, viewport units or fractions) 
	<line-name>
	*/
	
	/*  Property Values can be:  */

	
	/*  Grid Column Gap Property:  */
	
	/* Property Values can be: (lenghts, percentages, viewport units)*/

		/* Vieja sintaxis */
		/* grid-column-gap: 10px; */

		/* Standard Syntax */
		/* column-gap: 10px; */
		/* column-gap: 1.5rem; */
		/* column-gap: 7vw; */
		/* column-gap: 10px;
		row-gap: 7vh; */
		/* column-gap: 10px; */
		/* column-gap: 10px; */
		/* column-gap: 10px; */
		
		/* grid-template-columns: 150px 150px 150px 150px; */
		/* grid-template-rows: 150px 150px 150px; */

		/* Property Value can be:
								repeat(#rows/cols, track-size)	
		*/

		grid-gap: 15px;

		/* grid-template-columns: repeat(4, 150px); */
		/* grid-template-rows: repeat(3, 150px ); */

		/* -**-**-**-** The fr unit (Fractional unit) *-**-**-**-* */

		/* Property Value can be
						fr */

		height: 600px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 200px);


}

.item {
	font-size: 4rem;
	text-align: center;
	line-height: 200px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 3px;
	/* background-color: #fff; */
}

.item-1 {
	background-color: chartreuse;

	/* Changing The Horizontal Position */
	grid-row-start: 2;
	grid-row-end: 3;
	
	/* Changing The Vertical Position */
	grid-column-start: 2;
	grid-column-end: 3;
}
.item-2 {
	background-color: chocolate;
}
.item-3 {
	background-color: cornflowerblue;
}
.item-4 {
	background-color: olivedrab;
}
.item-5 {
	background-color: darkorchid;
}
.item-6 {
	background-color: darkseagreen;
}
.item-7 {
	background-color: dimgray;
}
.item-8 {
	background-color: yellow;
}
.item-9 {
	background-color: crimson;

	/* Changing The Horizontal Position */
	grid-row-start: 1;
	grid-row-end: 2;
	
	/* Changing The Vertical Position */
	grid-column-start: 2;
	grid-column-end: 3;
}
.item-10 {
	background-color: maroon;
}
.item-11 {
	background-color: orange;
}
.item-12 {
	background-color: thistle;
}