/* Flex Container => Parent */
ul {
	background-color: lightslategray;
	padding: 20px;
	
	/* Flex Container Properties */
	display: flex;

	/****************------JUSTIFY CONTENT-------*************** */
	/* Default Direccion => Row => Main Axis => Horizontal */
	/* justify-content: flex-start; */
	/* justify-content: flex-end; */
	/* justify-content: space-between; */
	justify-content: space-evenly;
}

 /* flex Items => childre */
li {
	/* display: inline-block; */
	list-style: none;
	color: white;
	background-color: #20b2aa;
	padding: 10px;
	margin: 20px;
	width: 100px;
}

/* Flex Conteiner => Parents */

/* section {
	width: 20rem;
	background-color: lightslategray;
	padding: 1.5rem;
	margin: 1rem;
	color: white;
} */

/* section h2,
section p {
} */

div.content {
	background-color: #20b2aa;
	padding: 1rem;
}