$phone: 400px;
$tablet: 600px;
$tablet-samsung: 800px;
$desktop: 1000px;

/************************ 1000 px ************************/
@media screen and (max-width: $desktop) {
  /* all Links */
  a:link,
  a:visited {
    font-size: calc(1rem + 1vw);
  }
}

/************************ 800 px ************************/
@media screen and (max-width: $tablet-samsung) {
  section {
    /*@@@###$%%%#$%*** Booking Content Section  ***@@@###$%%%#$%*/
    &#booking-content {
      grid-column: col-start/center-end;
      padding: 4vh 3vw;
    }

    .booking-content {
      &__title {
        text-align: center;

        &::after {
          width: 20%;
          left: 40%;
        }
      }
    }

    /*@@@###$%%%#$%*** Booking Date Section  ***@@@###$%%%#$%*/
    &#booking-date {
      padding: 4vh 3vw;
      grid-column: center-start/center-end;
      grid-row-gap: 7vh;
    }

    .booking-date {
      &__schedule {
        &--arrival,
        &--departure,
        &--guests {
          > div {
            padding: 2rem;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: min-content;
            grid-column-gap: 2vw;
            place-items: center;
          }
        }
      }
    }

    /*@@@###$%%%#$%*** Villas Section  ***@@@###$%%%#$%*/

    &#villas {
      grid-gap: 0;
    }
  }
}

/************************ 600 px ************************/
@media screen and (max-width: $tablet) {
  /*@@@###$%%%#$%*** Header Section  ***@@@###$%%%#$%*/
  .header__logo__content--content__para {
    font-size: 2rem;
  }

  section {
    &#booking-date {
      grid-template-rows: repeat(2, max-content);
    }

    /*@@@###$%%%#$%*** Booking Date Section  ***@@@###$%%%#$%*/
    .booking-date {
      &__schedule {
        &--arrival,
        &--departure,
        &--guests {
          & > div {
            //   padding: 4rem;
            grid-template-columns: min-content;
          }
        }
      }
    }

    /*@@@###$%%%#$%*** Booking Content Section  ***@@@###$%%%#$%*/
    &#villas {
      .villas {
        @for $i from 1 through 6 {
          &__villa-#{0 + $i} {
            p[class^="villas"] {
              font-size: 1.5rem;
              margin: 1rem 0 2rem 0;
            }
          }
        }
      }
    }

    /*@@@###$%%%#$%*** Booking Content Section  ***@@@###$%%%#$%*/
    .booking-content {
      &__para {
        font-size: 1.5rem;
      }
    }
  }
}

/************************ 400 px ************************/
@media screen and (max-width: $phone) {
  /*@@@###$%%%#$%*** Booking Date Section  ***@@@###$%%%#$%*/
  section {
    .booking-date {
      &__schedule {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: auto; // Automatico a la caja.
        grid-row-gap: 4vh;
      }
      &__contact {
        justify-self: center;
        padding: 0 2rem;
      }
    }

    /*@@@###$%%%#$%*** Booking Content Section  ***@@@###$%%%#$%*/

    .villas {
      @for $i from 1 through 6 {
        &__villa-#{0 + $i} {
          grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
          padding: .5rem;
          font-size: 1rem;
        }
      }
    }
  }
}
