$phone: 400px;
$tablet: 600px;
$tablet-samsung: 800px;
$desktop: 1000px;

 /* green green green green* 1000 px *green green green green */
@media screen and (max-width: $desktop) {
  /* all Links */
  a:link,
  a:visited {
    font-size: calc(1rem + 1vw);
  }
}

/* blue blue blue blue blue blue 800 px blue blue blue blue blue blue */
@media screen and (max-width: $tablet-samsung) {
  section {
    /*@@@###$%%%#$%*** Booking Content Section  ***@@@###$%%%#$%*/
    &#booking-content {
      grid-column: col-start/center-end;
      padding: 4vh 3vw;
    }

    .booking-content {
      &__title {
        text-align: center;

        &::after {
          width: 20%;
          left: 40%;
        }
      }
    }

    /*@@@###$%%%#$%*** Booking Date Section  ***@@@###$%%%#$%*/
    &#booking-date {
      padding: 4vh 3vw;
      grid-column: center-start/center-end;
      grid-row-gap: 7vh;
    }

    .booking-date {
      &__schedule {
        &--arrival,
        &--departure,
        &--guests {
          > div {
            padding: 2rem;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: min-content;
            grid-column-gap: 2vw;
            place-items: center;
          }
        }
      }
    }

    /*@@@###$%%%#$%*** Villas Section  ***@@@###$%%%#$%*/
    &#villas {
      grid-gap: 0;
    }

    /*@@@###$%%%#$%*** footer  ***@@@###$%%%#$%*/
    &#footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 3rem;
        padding: 3vh 3vw;
    }
  }
}

/* red red red red red red red 600 px red red red red red red red */
@media screen and (max-width: $tablet) {
  /*@@@###$%%%#$%*** Header Section  ***@@@###$%%%#$%*/
  .header__logo__content--content__para {
    font-size: 2rem;
  }

  section {
    &#booking-date {
      grid-template-rows: repeat(2, max-content);
    }

    /*@@@###$%%%#$%*** Booking Date Section  ***@@@###$%%%#$%*/
    .booking-date {
      &__schedule {
        &--arrival,
        &--departure,
        &--guests {
          & > div {
            //   padding: 4rem;
            grid-template-columns: min-content;
          }
        }
      }
    }

    /*@@@###$%%%#$%*** Events Text Section  ***@@@###$%%%#$%*/
    &#gallery-text,
    &#events-text,
    &#feactures-text {
      display: none;
    }

    /*@@@###$%%%#$%*** Booking Content Section  ***@@@###$%%%#$%*/
    /*@@@###$%%%#$%*** Villas Content Section  ***@@@###$%%%#$%*/
    /*@@@###$%%%#$%*** Motto Content Section  ***@@@###$%%%#$%*/
    /*@@@###$%%%#$%*** Events Content Section  ***@@@###$%%%#$%*/
    /*@@@###$%%%#$%*** Gallery Content Section  ***@@@###$%%%#$%*/
    /*@@@###$%%%#$%*** Features Content Section  ***@@@###$%%%#$%*/
    &#villas {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      .villas {
        @for $i from 1 through 6 {
          &__villa-#{0 + $i} {
            p[class^="villas"] {
              font-size: 1.3rem;
              margin: 1rem 0 2rem 0;
            }
          }
        }
      }
    }

    &#events-content {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      & > div {
        & p[class*=para] {
          font-size: 1.3rem;
        }
      }
    }

    &#events-content,
    &#gallery-carrousel,
    &#feactures-content {
      grid-column: center-start / center-end;

    }

    /*@@@###$%%%#$%*** Booking Content Section  ***@@@###$%%%#$%*/
    
    .booking-content {
      &__para {
        font-size: 1.5rem;
      }
    }

    &#events-content {
      & > div {
        &:first-child,
        &:last-child {
          border: none;
        }
      }
    }

    &#feactures-content {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      & > div {
        &:first-child,
        &:last-child {
          border: none;
        } 
        
        & p[class*="para"] {
          font-size: 1.5rem;
        }
      }
    }
    
    .motto__content {
      &--para{
        font-size: 1.5rem;
      }
    }
    
    // Carousel Left/Right Buttons //
    &#gallery-carrousel {
      .gallery-carrousel {
        &__btn i {
          font-size: 3rem;
        }
      
        &__nav {
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-row-gap: 3vh;
          grid-column-gap: 10vw;
          height: 12%;
        }
      }
    }

    // Footer Section //
    &#footer {
      padding: 3vh 2vw;

      &p {
        font-size: 1.5rem;
      }
    }
  }
}

/* yellow yellow yellow yellow 400 px yellow yellow yellow yellow   */
@media screen and (max-width: $phone) {
  /*@@@###$%%%#$%*** Booking Date Section  ***@@@###$%%%#$%*/
  section {
    .booking-date {
      &__schedule {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: auto; // Automatico a la caja.
        grid-row-gap: 4vh;
      }
      &__contact {
        justify-self: center;
        padding: 0 2rem;
      }
    }

    /*@@@###$%%%#$%*** Booking Content Section  ***@@@###$%%%#$%*/

    .villas {
      @for $i from 1 through 6 {
        &__villa-#{0 + $i} {
          grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
          padding: .5rem;
          font-size: 1rem;
        }
      }
    }

    // Footer Section //
    &#footer {
      padding: 0.5vh 0.5vw;
      font-size: 1rem;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 2rem;
      text-align: center;
    }
  }
}

