
.testimonials__card--back {
	transform: perspective(100rem) rotateY(0.5turn);
	background-color: color(color-secondary);
}

.testimonials__card:hover .testimonials__card--front {
	transform: perspective(100rem) rotateY(0.5turn);
}

.testimonials__card:hover .testimonials__card--back {
	transform: perspective(100rem) rotateY(1turn);
}

.testimonials__card:first-child .testimonials__card--front {
	background-image: url("../img/Testimonials/testimonials-1.jpg");	  
}

.testimonials__card:nth-child(2) .testimonials__card--front {
	background-image: url("../img/Testimonials/testimonials-2.jpg");	  
}

.testimonials__card:nth-child(3) .testimonials__card--front {
	background-image: url("../img/Testimonials/testimonials-3.jpg");	  
}

.testimonials__card:nth-child(4) .testimonials__card--front {
	background-image: url("../img/Testimonials/testimonials-4.jpg");	  
}

.testimonials__card:nth-child(5) .testimonials__card--front {
	background-image: url("../img/Testimonials/testimonials-5.jpg");	  
}

.testimonials__card:nth-child(6) .testimonials__card--front {
	background-image: url("../img/Testimonials/testimonials-6.jpg");	  
}