@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');



h2 {
	color: aliceblue;
	font-family: 'Titillium Web', sans-serif;
}

.header__logo__content--logo span {
	font-family: 'Cinzel', serif;
}