$height: 400px;
$backgroundVillas: linear-gradient(color(color-tertiary-m-light), color(color-quaternary-m-light));

@mixin background {
	background-size: cover;
	// background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;	
} 

@mixin nav {
	top: 3rem;
	left: 3rem;
	height: 5rem;
	width: 5rem;
}



