/* COLORES */
$colors: (
  "color-primary": #0075a2,
  "color-primary-m-light": #0075a283,
  "color-primary-m-dark": #0075a2e1,
  "color-secondary": #d55672,
  "color-secondary-m-light": #d5567283,
  "color-secondary-m-dark": #d55672e1,
  "color-tertiary": #1dd380,
  "color-tertiary-m-light": #1dd38083,
  "color-tertiary-m-dark": #1dd380e1,
  "color-quaternary": #adf5ff,
  "color-quaternary-m-light": #adf5ff83,
   "color-quaternary-m-dark": #adf5ffe1,
 );

/* PROPIEDADES */
$propertys: (
  /* Font-Size */ "font-size": 62.5%,
  /* Transtion Duration */ "transition-duration": 0.3s,
  /* Section Title Font Size */ "font-size-title": calc(2rem + 2vw),
  /* Section Padding */ "padding-section": 8vh 3vh
);

/* Importaciones */
@import "functions";
@import "reset";
@import "googleFonts";
@import "utilityComponets";
@import "variables";

body {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.7;
}

.container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(min-content, 11rem) [col-end]
    )
    [center-end] 1fr [container-end];
  grid-template-rows: 100vh repeat(8, min-content);

  /* Anchor tags */
  a:link,
  a:visited {
    color: color(color-quaternary);
    text-decoration: none;
    font-size: calc(0.5rem + 1vw);
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    position: relative;
    transition: all property(transition-duration) cubic-bezier(1, 0, 0, 1);
    z-index: 1;
  }

  /* Paragraphs */
  p {
    color: white;
    font-size: calc(1rem + 1vw);
    font-weight: 300;
  }

  /* List Item */
  li {
    list-style: none;
    margin-bottom: 4rem;
  }

  /* Icons */
  i {
    font-size: property(font-size-title);
    color: color(color-secondary);
  }
}

/* Main Styling */
header#header {
  // background-color: color(color-primary);
  grid-column: container-start / container-end;
  background: linear-gradient(
      color(color-primary-m-light),
      color(color-primary-m-light)
    ),
    url("../img/hero2.jpg");
  @include background;
}

/* Nav */
.header__main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  & input[type="checkbox"] {
    position: absolute;
    @include nav;
    opacity: 0;
    cursor: pointer;
    z-index: 3;

    /* Rotating the menu */
    &:checked {
      & + .header__main-nav--hamburger > div {
        transform: rotate(135deg);
      }

      & + .header__main-nav--hamburger > div::before {
        top: 0;
        left: 0;
        width: 100%;
        transform: rotate(270deg);
      }

      & + .header__main-nav--hamburger > div::after {
        opacity: 0;
      }

      &:hover + .header__main-nav--hamburger > div {
        transform: rotate(405deg);
      }

	 /* Displaying the Menu when the checkbox is checked */ /* Cuando seleccionamos checkbox se seleccionara igualmente el menu */
	 & ~ .header__main-nav--menu {
		 visibility: visible;

		 & > div {
			 transform: scaleX(1);
			 transition-duration: 1s;

			 & > div {
				 opacity: 1;
			 }
		 }

		 & ul li a:link,
		 & ul li a:visited {
			 z-index: 5;
			 font-size: calc(1.5rem + 0.5vw);
			 position: relative;
			 
			 &::before {
				 content: '';
				 position: absolute;
				 top: 0;
				 left: 0;
				 height: 100%;
				 width: 100%;
				 z-index: -1;
				 transform: scaleY(0);
				 background-color: color(color-primary-m-dark);
				 transition: transform .5s ease-in-out;

			}
			&:hover::before,
			&:active::before {
				transform: scaleY(1);
			}
		 }
	 }
    }
  }

  /* Links Menu */
  &--menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    overflow: hidden;

    display: grid;
    place-items: center;

    & > div {
	    background-color: color(color-secondary-m-dark);
	    height: 200%;
	    width: 200%;

	    display: grid;
	    place-items: center;
		
	    transform: scaleX(0);
	    transition: all 1s ease-in-out;

	    & > div {
			text-align: center;
			max-width: 90vw;
			max-height: 100vh;
			opacity: 0;
			transition: opacity 1s ease-in-out;
	    }
    }

  }

   
}

/* Hamburger */
.header__main-nav--hamburger {
  position: absolute;
  @include nav;
  padding: 1rem;
  background-color: color(color-secondary);
  z-index: 2;

  display: grid;
  place-items: center;

  animation: main-nav 2s;

  @keyframes main-nav {
	  0% {
		  transform: translateX(150rem) rotate(1800deg);
		  opacity: 0;
	  }

	  100% {
		  transform: translateX(0) rotate(0);
		  opacity: 1;
	  }
  }

  /* Hamburger lines */
  & > div {
    position: relative;
    height: 0.3rem;
    width: 100%;
    background-color: color(color-tertiary);

    display: grid;
    place-items: center;
    transition: all property(transition-duration) ease-in-out;
  }

  /* Hamburger Top and Bottom lines */
  & > div::before,
  & > div::after {
    content: "";
    position: absolute;
    top: -1rem;
    width: 60%;
    height: inherit;
    background-color: inherit;
    z-index: 2;
  }

  & > div::before {
    left: 0;
  }

  & > div::after {
    top: 1rem;
    right: 0;
  }
}

/* Section */
section {
  /* Booking Content Section */
  &#booking-content {
    background-color: color(color-secondary);
    grid-column: center-start / col-end 6;
    height: $height;
  }

  /* Booking Date Section */
  &#booking-date {
    background-color: color(color-tertiary);
    grid-column: col-start 7 / center-end;
    height: $height;
  }

  /* Villas Section */
  &#villas {
    background-color: color(color-primary);
    grid-column: container-start / container-end;
    height: $height;
  }

  /* Motto Section */
  &#motto {
    background-color: color(color-secondary);
    grid-column: container-start / container-end;
    height: $height;
  }

  /* Events Section */
  &#events-content {
    background-color: color(color-tertiary);
    grid-column: container-start / col-end 9;
    height: $height;
  }

  /* Events text Section */
  &#events-text {
    background-color: color(color-primary);
    grid-column: col-start 10 / center-end;
    height: $height;
  }

  /* Gallery Text Section */
  &#gallery-text {
    background-color: color(color-secondary);
    grid-column: center-start / center-end 1;
    height: $height;
  }

  /* Gallery Carousel Section */
  &#gallery-carrousel {
    background-color: color(color-tertiary);
    grid-column: col-start 2 / container-end;
    height: $height;
  }

  /* Features Section */
  &#feactures-content {
    background-color: color(color-primary);
    grid-column: container-start / col-end 9;
    height: $height;
  }

  /* Features text Section */
  &#feactures-text {
    background-color: color(color-secondary);
    grid-column: col-start 10 / center-end;
    height: $height;
  }

  /* Testimonials Section */ // a word not award
  &#testimonials {
    background-color: color(color-tertiary);
    grid-column: center-start / center-end;
    height: $height;
  }

  /* Footer Section */
  &#footer {
    background-color: color(color-primary);
    grid-column: container-start / container-end;
    height: $height;
  }
}
