$colors: (
  "color-primary": #3143a4,
  "color-primary-m-light": rgba(49, 66, 164, 0.513),
  "color-primary-m-dark": rgba(49, 66, 164, 0.883),
  "color-secondary": rgb(148, 49, 165),
  "color-secondary-m-light": rgba(148, 49, 165, 0.513),
  "color-secondary-m-dark": rgba(148, 49, 165, 0.883),
  "color-tertiary": rgb(67, 164, 49),
  "color-tertiary-m-light": rgba(67, 164, 49, 0.513),
  "color-tertiary-m-dark": rgba(67, 164, 49, 0.883),
  "color-quaternary": rgb(164, 49, 67),
  "color-quaternary-m-light": rgba(164, 49, 67, 0.513),
  "color-quaternary-m-dark": rgba(164, 49, 67, 0.883),
);

/* Propiedades */
$propertys: (
  /* Font-Size */ "font-size": 62.5%,
  /* Transtion Duration */ "transition-duration": 0.3,
  /* Section Title Font Size */ "font-size-title": calc(2rem + 2vw),
  /* Section Padding */ "padding-section": 8vh 3vh
);

/* Importaciones */
@import "functions";
@import "reset";
@import "googleFonts";
@import "utilityComponets";
@import "variables";

body {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.7;
  // background-color: color(color-quaternary);
}

.container {
	display: grid;
	grid-template-columns:
	[container-start] 1fr [center-start] repeat(
		10,
		[col-start] minmax(min-content, 11rem) [col-end]
	)
	[center-end] 1fr [container-end];
	grid-template-rows: 100vh repeat(8, min-content);

	// Aplicamos a todos los hijos de container
 	 & > * {  
		font-size: 2rem; 
	}
}

/* Main Styling */	
header#header {
	background-color: color(color-primary);
	grid-column: container-start / container-end; 
}

/* Section */
section {
	/* Booking Content Section */
	&#booking-content {
		background-color: color(color-secondary);
		grid-column: center-start / col-end 6;
		height: $height;
	}
	
	/* Booking Date Section */
	&#booking-date {
		background-color: color(color-tertiary);
		grid-column: col-start 7 / center-end;
		height: $height;
	}

	/* Villas Section */
	&#villas {
		background-color: color(color-primary);
		grid-column: container-start / container-end;
		height: $height;
	}

	/* Motto Section */
	&#motto {
		background-color: color(color-secondary);
		grid-column: container-start / container-end;
		height: $height;
	}

	/* Events Section */
	&#events-content {
		background-color: color(color-tertiary);
		grid-column: container-start / col-end 9;
		height: $height;
	}

	/* Events text Section */
	&#events-text {
		background-color: color(color-primary);
		grid-column: col-start 10 / center-end;
		height: $height;
	}

	/* Gallery Text Section */
	&#gallery-text {
		background-color: color(color-secondary);
		grid-column: center-start / center-end 1;
		height: $height;
	}

	/* Gallery Carousel Section */
	&#gallery-carrousel {
		background-color: color(color-tertiary);
		grid-column: col-start 2 / container-end;
		height: $height;
	}

	/* Features Section */
	&#feactures-content {
		background-color: color(color-primary);
		grid-column: container-start / col-end 9;
		height: $height;
	}

	/* Features text Section */
	&#feactures-text {
		background-color: color(color-secondary);
		grid-column: col-start 10 / center-end;
		height: $height;
	}

	/* Testimonials Section */ // a word not award 
	&#testimonials {
		background-color: color(color-tertiary);
		grid-column: center-start / center-end;
		height: $height;
	}

	/* Footer Section */  
	&#footer {
		background-color: color(color-primary);
		grid-column: container-start / container-end;
		height: $height;
	}
}

