/* COLORES */
$colors: (
  "color-primary": #0075a2,
  "color-primary-m-light": #0075a283,
  "color-primary-m-dark": #0075a2e1,
  "color-secondary": #d55672,
  "color-secondary-m-light": #d5567283,
  "color-secondary-m-dark": #d55672e1,
  "color-tertiary": #1dd380,
  "color-tertiary-m-light": #1dd38083,
  "color-tertiary-m-dark": #1dd380e1,
  "color-quaternary": #adf5ff,
  "color-quaternary-m-light": #adf5ff83,
  "color-quaternary-m-dark": #adf5ffe1,
);

/* PROPIEDADES */
$propertys: (
  /* Font-Size */ "font-size": 62.5%,
  /* Transtion Duration */ "transition-duration": 0.3s,
  /* Section Title Font Size */ "font-size-title": calc(2rem + 2vw),
  /* Section Padding */ "padding-section": 8vh 3vw
);

/* Importaciones */
@import "functions";
@import "reset";
@import "googleFonts";
@import "utilityComponets";
@import "variables";

body {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.7;
}

.container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(min-content, 11rem) [col-end]
    )
    [center-end] 1fr [container-end];
  grid-template-rows: 100vh repeat(8, min-content);

  /* Anchor tags */
  a:link,
  a:visited {
    text-decoration: none;
    font-size: calc(0.5rem + 1vw);
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    position: relative;
    transition: all property(transition-duration) cubic-bezier(1, 0, 0, 1);
    z-index: 1;
    color: color(color-quaternary);
  }

  /* Paragraphs */
  p {
    font-size: calc(1rem + 1vw);
    font-weight: 300;
  }

  /* List Item */
  li {
    list-style: none;
    margin-bottom: 4rem;
  }

  /* Icons */
  i {
    font-size: property(font-size-title);
    color: color(color-secondary);
  }
}

/* Main Styling */
header#header {
  background-color: color(color-primary);
  grid-column: container-start / container-end;
  background: linear-gradient(
    color(color-primary-m-light),
    color(color-primary-m-light)
    ),
    url("/vlv-website/up/img/hero2.jpg");
    background-attachment: fixed;
    @include background;
}

/* Nav */
.header__main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;

  & input[type="checkbox"] {
    position: absolute;
    @include nav;
    opacity: 0;
    cursor: pointer;
    z-index: 3;

    /* Rotating the menu */
    &:checked {
      & + .header__main-nav--hamburger > div {
        transform: rotate(135deg);
      }

      & + .header__main-nav--hamburger > div::before {
        top: 0;
        left: 0;
        width: 100%;
        transform: rotate(270deg);
      }

      & + .header__main-nav--hamburger > div::after {
        opacity: 0;
      }

      &:hover + .header__main-nav--hamburger > div {
        transform: rotate(405deg);
      }

      /* Displaying the Menu when the checkbox is checked */ /* Cuando seleccionamos checkbox se seleccionara igualmente el menu */
      & ~ .header__main-nav--menu {
        visibility: visible;

        & > div {
          transform: scaleX(1);
          transition-duration: 1s;

          & > div {
            opacity: 1;
          }
        }

        & ul li a:link,
        & ul li a:visited {
          z-index: 5;
          font-size: calc(1.5rem + 0.5vw);
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            transform: scaleY(0);
            background-color: color(color-primary-m-dark);
            transition: transform 0.5s ease-in-out;
          }
          &:hover::before,
          &:active::before {
            transform: scaleY(1);
          }
        }
      }
    }
  }

  /* Links Menu */
  &--menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    overflow: hidden;

    display: grid;
    place-items: center;

    & > div {
      background-color: color(color-secondary-m-dark);
      height: 200%;
      width: 200%;

      display: grid;
      place-items: center;

      transform: scaleX(0);
      transition: all 1s ease-in-out;

      & > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 1s ease-in-out;
      }
    }
  }
}

/* Hamburger */
.header__main-nav--hamburger {
  position: absolute;
  @include nav;
  padding: 1rem;
  background-color: color(color-secondary);
  z-index: 2;

  display: grid;
  place-items: center;

  animation: main-nav 2s;

  @keyframes main-nav {
    0% {
      transform: translateX(150rem) rotate(1800deg);
      opacity: 0;
    }

    100% {
      transform: translateX(0) rotate(0);
      opacity: 1;
    }
  }

  /* Hamburger lines */
  & > div {
    position: relative;
    height: 0.3rem;
    width: 100%;
    background-color: color(color-tertiary);

    display: grid;
    place-items: center;
    transition: all property(transition-duration) ease-in-out;
  }

  /* Hamburger Top and Bottom lines */
  & > div::before,
  & > div::after {
    content: "";
    position: absolute;
    top: -1rem;
    width: 60%;
    height: inherit;
    background-color: inherit;
    z-index: 2;
  }

  & > div::before {
    left: 0;
  }

  & > div::after {
    top: 1rem;
    right: 0;
  }
}

/********** The rest of the header section  **********/
.header__logo__content {
  display: grid;
  grid-template-columns: 1fr minmax(30rem, 1fr) 1fr;
  grid-template-rows: min-content;
  height: 90%;
  justify-items: center;

  &--logo {
    grid-column: 2 / 3;
    letter-spacing: 0.2rem;

    & span {
      color: color(color-secondary);
      font-size: 3rem;
      text-align: center;
      line-height: 0.8;

      & p {
        color: #13ff95;
        font-size: 1.5rem;
      }
    }
  }

  &--content {
    grid-column: 1 / -1;
    align-self: center;

    &__title {
      font-size: calc(4rem + 4vw);
      font-weight: 300;
      text-transform: uppercase;
      padding: 0 2rem 0 property(font-size-title);
    }

    &__para {
      font-size: calc(1rem + 2vw);
      font-weight: 500;
      padding: 2vh 2rem 6vh property(font-size-title);
    }

    &__link:link,
    &__link:visited {
      border: 0.2rem solid color(color-tertiary);
      margin-left: property(font-size-title);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: color(color-tertiary);
        transform: scaleX(0);
        transition: transform 0.45s cubic-bezier(1, 0, 0, 1);
        z-index: -1;
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }
  }
}

/* Section */
section {
  /* Booking Content Section */
  &#booking-content {
    grid-column: center-start / col-end 6;
    padding: property(padding-section);
    background-color: #eee;

    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-gap: 2vh;
  }

  .booking-content {
    &__title {
      font-size: property(font-size-title);
      padding: 0 2rem 1rem;
      font-weight: 300;
      position: relative;
      color: color(color-secondary);
      font-weight: 500;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 15%;
        height: 0.2rem;
        width: 30%;
        background-color: color(color-secondary);
      }
    }
    &__para {
      padding: 2rem;
      color: color(color-primary);
    }

    &__icons {
      margin-left: 2rem;

      display: grid;
      grid-template-columns: repeat(2, 1fr); // Repetir dos columnas de 1fr.

      &--weather,
      &--time {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 10vh;
        place-items: center;
      }
    }
  }
  /* Booking Date Section */
  &#booking-date {
    background-color: #eee;
    grid-column: col-start 7 / center-end;
    padding: property(padding-section);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  .booking-date {
    &__schedule {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 2vw;
      place-items: center;
      // text-align: center;

      &--arrival,
      &--departure,
      &--guests {
        display: grid;
        grid-row-gap: 3vh;
        cursor: pointer;

        h5 {
          font-size: calc(1rem + 1vh);
          text-align: center;
        }

        > div {
          background-color: color(color-secondary);
          padding: 2rem 4rem;

          display: grid;
          grid-template-rows: repeat(3, 1fr);
          place-items: center;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            border-width: 1.5rem;
            margin-left: -1.5rem;
            border-style: solid;
            border-color: transparent transparent color(color-secondary);
          }

          // Seleccionamos el segundo parrado de los 3 de este div.
          p:nth-of-type(2) {
            font-size: 3rem;
            font-weight: 700;
          }
        }
      }
    }

    &__contact {
      align-self: flex-end;

      & p {
        font-size: 2rem;
        color: color(color-primary-m-dark);
        font-weight: 500;

        &:first-of-type {
          margin-top: 4rem;
        }

        &:nth-of-type(2) {
          font-weight: 600;
        }
      }

      &--link {
        &:link,
        &:visited {
          background-color: color(color-primary-m-dark);
          transition: all property(transition-duration) ease-in-out;
        }
        &:hover,
        &:active {
          color: #000;
          background-color: color(color-tertiary-m-light);
          border: 0.1rem color(color-primary-m-dark) solid;
        }
      }
    }
  }
  /* Villas Section */
  &#villas {
    display: grid;
    grid-column: container-start / container-end;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    background: color(color-quaternary-m-light);
    grid-gap: 2rem;

    .villas {
      @for $i from 1 through 6 {
        &__villa-#{0 + $i} {
          padding: 2rem;
          @include background;
          transition: transform property(transition-duration) ease-in-out;

          &:hover,
          &:active {
            transform: scale(1.05);
          }

          h2[class^="villas"] {
            font-size: property(font-size-title);
            padding: 0 2rem 1rem;
            font-weight: 400;
            text-transform: uppercase;
          }

          p[class^="villas"] {
            font-size: 2rem;
            margin: 1.5rem 0 4rem 0;
            // color: white;
            font-weight: 500;
          }

          :nth-child(n), // Agarrada cada primer Hijo --Impar
          a[class^=villas]
              &:link,
              &:visited {
            &::before {
              transform: translate(-50%, -50%) rotate(45deg);
            }
          }

          :nth-child(2n), // Agarrada cada primer Hijo --Par
          a[class^=villas]
              &:link,
              &:visited {
            &::before {
              transform: translate(-50%, -50%) rotate(-45deg);
            }
          }

          a[class^="villas"] {
            &:link,
            &:visited {
              display: inline-block;
              margin-bottom: 2rem;
              background-color: color(color-secondary-m-dark);
              color: color(color-quaternary-m-dark);
              z-index: 2;
              overflow: hidden;

              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 0;
                z-index: -1;
                background-color: color(color-primary);
                transition: height property(transition-duration) ease-in-out;
              }

              &:hover,
              &:active {
                color: white;

                &::before {
                  height: 400%;
                }
              }
            }
          }
        }
      }

      &__villa-1 {
        background: $backgroundVillas,
          url("/vlv-website/up/img/Villas/villa-1.jpg");
          @include background;
      }

      &__villa-2 {
        background: $backgroundVillas,
          url("/vlv-website/up/img/Villas/villa-2.jpg");
          @include background;
      }

      &__villa-3 {
        background: $backgroundVillas,
          url("/vlv-website/up/img/Villas/villa-3.jpg");
          @include background;
      }

      &__villa-4 {
        background: $backgroundVillas,
          url("/vlv-website/up/img/Villas/villa-4.jpg");
          @include background;
      }

      &__villa-5 {
        background: $backgroundVillas,
          url("/vlv-website/up/img/Villas/villa-5.jpg");
          @include background;
      }

      &__villa-6 {
        background: $backgroundVillas,
          url("/vlv-website/up/img/Villas/villa-6.jpg");
          @include background;
      }
    }
  }

  /* Motto Section */
  &#motto {
    background-color: color(color-primary-m-dark);
    grid-column: container-start / container-end;
    padding: 10vh 3vw;
    
  }
  
  .motto__content {
    color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;

    &--title {
      font-size: property(font-size-title);
      padding: 0 2rem 1rem;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 2rem;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 45%;
        height: 0.2rem;
        width: 10%;
        background-color: #fff;

      }
    }
  }
  

  /* Events Section */
  &#events-content {
    display: grid;
    grid-column: container-start / col-end 9;
    grid-template-columns: repeat(2, 1fr);

    & > div {
      display: grid;
      padding: property(padding-section);

      grid-template-areas: 
        "title "
        "para ";
      grid-row-gap: 4vh; 
      align-items: center;
      justify-items: start;

      h2[class*=title] { // Seleccionar cualquiera que tenga un title en su clase.  
        grid-area: title; // El area selecionada sera el title. 
        font-size: property(font-size-title);
        font-weight: 400;
        color: #000;
      }
      
      p[class*=para] { // Cualquiera que tenga para en su clase.
        grid-area: para;
        // color: #eee;
        color: color(color-quaternary)
      }

      &:first-child {
        background: linear-gradient(color(color-secondary-m-dark), color(color-secondary-m-light)),
          url('/vlv-website/up/img/Events/beach-party.jpg');
        border-right: solid 0.2rem color(color-secondary);
      }

      &:last-child {
        background: linear-gradient(color(color-secondary-m-dark), color(color-secondary-m-light)),
          url('/vlv-website/up/img/Events/culture-discovery.jpg');
          border-left: solid 0.2rem color(color-secondary);
      }

      &:first-child,
      &:last-child {
        background-size: cover;
        background-position: center;
      }
    }


  }

  /* Events text Section */
  &#events-text {
    background-color: color(color-secondary);
    grid-column: col-start 10 / center-end;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;

    .events-text__content {
      transform: rotate(0.25turn);
      
      &--title {
        font-size: property(font-size-title);
        font-weight: 600;

        color: color(color-quaternary);
        letter-spacing: 0.2rem;

      }
    }
  }

  /* Gallery Text Section */
  &#gallery-text {
    background-color: color(color-primary);
    grid-column: center-start / col-end 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;

    .gallery-text__content {
      transform: rotate(-0.25turn);

      &--title {
        font-size: property(font-size-title);
        font-weight: 600;

        color: color(color-tertiary);
        letter-spacing: 0.2rem;

      }
    }
  }

  /* Gallery Carousel Section */
  &#gallery-carrousel {
    grid-column: col-start 2 / container-end;
    height: 90vh;
    overflow: hidden;
    border: solid 0.2rem color(color-tertiary);
    position: relative;

    .gallery-carrousel {
      &__img--container {
        @include widtheight;
        position: relative;
        
        // Image Container list
        &--list {
          position: relative;
          @include widtheight;
          transition: transform 2s ease-in-out;

          &__item {
            position: absolute;
            top: 0;
            left: 0;
            @include widtheight;

            & img {
              @include widtheight;
              @include background;
              object-fit: cover;
            }
          }
        }
      }

      // Carousel Buttons //  
      &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 1;

        // Button Right //
        &--right {
          right: 0;
        }
        
      }

      // Carousel Nav //
      &__nav {
        // background-color: #c72323;
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 5%;
        transform: translateX(-50%);
        margin-bottom: 1rem;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 3rem;
        
        // Current Button/image
        .current--img {
          background-color: color(color-primary);
        }
        
        // Carousel Nav Buttons // 
        &--btn {
          background-color: color(color-secondary-m-dark);
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }

  /* Features Section */
  &#feactures-content {
    background-color: color(color-primary);
    grid-column: container-start / col-end 9;
    height: $height;
  }

  /* Features text Section */
  &#feactures-text {
    background-color: color(color-secondary);
    grid-column: col-start 10 / center-end;
    height: $height;
  }

  /* Testimonials Section */ // a word not award
  &#testimonials {
    background-color: color(color-tertiary);
    grid-column: center-start / center-end;
    height: $height;
  }

  /* Footer Section */
  &#footer {
    background-color: color(color-primary);
    grid-column: container-start / container-end;
    height: $height;
  }
}


@import "breakpoints";
