/* Propiedades */
/* Importaciones */
/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: aliceblue;
}

h2 {
  color: aliceblue;
  font-family: 'Titillium Web', sans-serif;
}

/* ******************* Utlity Components ******************* */
body {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.7;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [container-start] 1fr [center-start] ([col-start] minmax(min-content, 11rem) [col-end])[10] [center-end] 1fr [container-end];
      grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 11rem) [col-end]) [center-end] 1fr [container-end];
      grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 11rem) [col-end]) [center-end] 1fr [container-end];
  -ms-grid-rows: 100vh (min-content)[8];
      grid-template-rows: 100vh repeat(8, -webkit-min-content);
      grid-template-rows: 100vh repeat(8, min-content);
  /* Anchor tags */
  /* Paragraphs */
  /* List Item */
  /* Icons */
}

.container a:link,
.container a:visited {
  color: #a43143;
  text-decoration: none;
  font-size: calc(0.5rem + 1vw);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  position: relative;
  -webkit-transition: all 0.3 cubic-bezier(1, 0, 0, 1);
  transition: all 0.3 cubic-bezier(1, 0, 0, 1);
  z-index: 1;
}

.container p {
  color: white;
  font-size: calc(1rem + 1vw);
  font-weight: 300;
}

.container li {
  list-style: none;
  margin-bottom: 4rem;
}

.container i {
  font-size: calc(2rem + 2vw);
  color: #9431a5;
}

/* Main Styling */
header#header {
  grid-column: container-start / container-end;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(49, 66, 164, 0.513)), to(rgba(49, 66, 164, 0.513))), url("../img/hero3.jpg");
  background: linear-gradient(rgba(49, 66, 164, 0.513), rgba(49, 66, 164, 0.513)), url("../img/hero3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

/* Nav */
.header__main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header__main-nav input[type="checkbox"] {
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
  /* Rotating the menu */
}

.header__main-nav input[type="checkbox"]:checked + .header__main-nav--hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/* Hamburger */
.header__main-nav--hamburger {
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  background-color: #9431a5;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  place-items: center;
  /* Hamburger lines */
  /* Hamburger Top and Bottom lines */
}

.header__main-nav--hamburger > div {
  position: relative;
  height: 0.3rem;
  width: 100%;
  background-color: #43a431;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: all propertys(transition-duration) ease-in-out;
  transition: all propertys(transition-duration) ease-in-out;
}

.header__main-nav--hamburger > div::before,
.header__main-nav--hamburger > div::after {
  content: "";
  position: absolute;
  top: -1rem;
  width: 60%;
  height: inherit;
  background-color: inherit;
  z-index: 2;
}

.header__main-nav--hamburger > div::before {
  left: 0;
}

.header__main-nav--hamburger > div::after {
  top: 1rem;
  right: 0;
}

/* Section */
section {
  /* Booking Content Section */
  /* Booking Date Section */
  /* Villas Section */
  /* Motto Section */
  /* Events Section */
  /* Events text Section */
  /* Gallery Text Section */
  /* Gallery Carousel Section */
  /* Features Section */
  /* Features text Section */
  /* Testimonials Section */
  /* Footer Section */
}

section#booking-content {
  background-color: #9431a5;
  grid-column: center-start / col-end 6;
  height: 400px;
}

section#booking-date {
  background-color: #43a431;
  grid-column: col-start 7 / center-end;
  height: 400px;
}

section#villas {
  background-color: #3143a4;
  grid-column: container-start / container-end;
  height: 400px;
}

section#motto {
  background-color: #9431a5;
  grid-column: container-start / container-end;
  height: 400px;
}

section#events-content {
  background-color: #43a431;
  grid-column: container-start / col-end 9;
  height: 400px;
}

section#events-text {
  background-color: #3143a4;
  grid-column: col-start 10 / center-end;
  height: 400px;
}

section#gallery-text {
  background-color: #9431a5;
  grid-column: center-start / center-end 1;
  height: 400px;
}

section#gallery-carrousel {
  background-color: #43a431;
  grid-column: col-start 2 / container-end;
  height: 400px;
}

section#feactures-content {
  background-color: #3143a4;
  grid-column: container-start / col-end 9;
  height: 400px;
}

section#feactures-text {
  background-color: #9431a5;
  grid-column: col-start 10 / center-end;
  height: 400px;
}

section#testimonials {
  background-color: #43a431;
  grid-column: center-start / center-end;
  height: 400px;
}

section#footer {
  background-color: #3143a4;
  grid-column: container-start / container-end;
  height: 400px;
}
/*# sourceMappingURL=style.css.map */