/* Flex Container => Parent */
ul {
	background-color: lightslategray;
	padding: 20px;
	text-align: center;
	height: 600px;
	/* Flex Container Properties */
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	justify-content: center;
	/* justify-content: flex-end; */
	/* justify-content: start; */
	/* justify-content: space-evenly; */
	/* align-items: center; */
	/* align-items: flex-start; */
	/* align-items: end; */

	/*********--------- ALIGN-CONTENT --------********* */
	/* stretch (Default)*/
	/* align-content: flex-start; */
	/* align-content: space-around; */
	/* align-content: space-evenly; */
}

 /* flex Items => childre */
li {
	/* display: inline-block; */
	list-style: none;
	color: white;
	background-color: #20b2aa;
	padding: 10px;
	margin: 10px;
	width: 100px;
	/* height: 100px; 
	padding-top: 20px; /* para visualizar align items*/
	padding-bottom: 20px; /* para visualizar align items*/
	text-align: center;
}

li:first-child {
	/* padding: 5px; */
}