/* Flex Container => Parent */
ul {
	background-color: lightslategray;
	padding: 20px;
	text-align: center;
	height: 600px;
	/* Flex Container Properties */
	display: flex;
	flex-wrap: wrap;
	/* justify-content: center; */

	/*********--------- ALIGN-CONTENT --------********* */
	/* stretch (Default)*/
	align-content: flex-start;
	/* align-items: flex-start; */
}

 /* flex Items => childre */
li {
	/* display: inline-block; */
	list-style: none;
	color: white;
	background-color: #20b2aa;
	padding: 10px;
	margin: 20px;
	width: 100px;
	/* height: 100px; 
	padding-top: 20px; /* para visualizar align items*/
	padding-bottom: 20px; /* para visualizar align items*/
}

li:first-child {
	padding: 5px;
}