* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 252, 222);
  height: 100vh;

  /* Initiating The Flexbox Model */
  display: flex;

  justify-content: center;
  align-items: center;
}

/* Shared Styles for Sections */
.section {
  width: 400px;

  background-color: rgb(166, 248, 159);
}

/* imges */
img {
  width: 400px;
  height: 400px;
  object-fit: cover; 
}

/* Date */
.section .content p:first-of-type {
  text-align: center;
}

/* headline */
.section .content h3 {
  text-align: right;
}

/* Improvements */
