* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 252, 222);
  height: 100vh;

  /* Initiating The Flexbox Model */
  display: flex;

  justify-content: center;
  align-items: center;
}

/* Shared Styles for Sections */
.section {
  width: 400px;
  /* margin: 0 auto; */
  margin: 0 1rem    ;
  background-color: rgb(166, 248, 159);
}

/* imges */
img {
  width: 400px;
  height: 400px;
  object-fit: cover; 
}

/* Date */
.section .content p:first-of-type {
  text-align: left;
}

/* headline */
.section .content h3 {
  text-align: center;
}

/* Improvements */
.section .content p:first-of-type,
.section .content h3,
.content p:last-of-type {
  text-align: right;
  margin: 15px 25px 0 0;
}

.section .content p:last-of-type {
margin: 0 0 20px 20px;
line-height: 1.6;
}
